.play {
  width: 100%;
  position: relative;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $bp-649px) {
    margin-top: 20rem;
  }
  .triangle {
    position: absolute;
    align-self: center;
    margin-top: 7rem;

    @media only screen and (max-width: $bp-649px) {
      transform: scale(0.9) translateY(-5rem);
    }
  }
  .items {
    display: flex;
    justify-content: center;
    .icon {
      height: 20rem;
      width: 20rem;
      border: 2rem solid;
      border-radius: 50%;
      background-size: 50%;
      transition: all 0.3s;

      &--paper {
        background-color: white;
        background-image: url(../images/icon-paper.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-color: $Paper-gradient;
        transform: translateX(5rem);
        box-shadow: inset 0 6px 2px #808080, 0 8px darken($Paper-gradient, 16%);
        &:hover {
          transform: scale(1.05) translateX(4.8rem);
        }
      }
      &--rock {
        background-color: white;
        background-image: url(../images/icon-rock.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-color: $Rock-gradient;
        transform: translateX(13rem);
        box-shadow: inset 0 6px 2px #808080, 0 8px darken($Rock-gradient, 16%);
        &:hover {
          transform: scale(1.05) translateX(12.5rem);
        }
      }
      &--scissors {
        background-color: white;
        background-image: url(../images/icon-scissors.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-color: $Scissors-gradient;
        transform: translate(-20rem, 22rem);
        box-shadow: inset 0 6px 2px #808080,
          0 8px darken($Scissors-gradient, 16%);

        &:hover {
          transform: scale(1.05) translate(-19rem, 21rem);
        }
      }
    }
  }
}
